{erl_opts, [{parse_transform, lager_transform},
{lager_extra_sinks, [audit]},debug_info]}.
{deps, [
    {lager,{git,"https://github.com/erlang-lager/lager.git"}},
    {lager_syslog,{git,"https://github.com/basho/lager_syslog.git"}},
    {'syslog', "1.0.*", {git, "git://github.com/Vagabond/erlang-syslog", {branch, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.3"}}},
    {worker_pool, "4.0.0"},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}]}.

{relx, [{release, { fibonacci_server, "0.1.0" },
    [fibonacci_server,
        sasl]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{plugins, [rebar3_run]}.
{profiles, [{prod, [{relx, [{dev_mode, false},
    {include_erts, true}]}]
}]
}.

