[
  {fibonacci_server, []},
{lager, [
          {log_root, "/tmp"},

          %% Default handlers for lager/lager_event
          {handlers, [
                      {lager_console_backend, [{level, info}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "console.log"}, {level, info}]},
{lager_syslog_backend, ["Serenova", local0, debug
                                             ,{lager_default_formatter, ["|", {callid, <<"0000000000">>}, "|", module, ":", line, "(",pid, ") ", {log_prefix, ["[", log_prefix, "] "], ""}, message, "\n"]}
                                             ]}
                     ]},

          %% Any other sinks
          {extra_sinks,
           [
            {audit_lager_event,
             [{handlers,
               [{lager_file_backend,
                 [{file, "sink1.log"},
                  {level, info}
                 ]
                }]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }]
          }
         ]
 }
].
